<form action="/edit/<%=@memo['id']%>" method="post" class="form">
  <input type="hidden" name="_method" value="PATCH">
  <span>タイトル</span>
  <div class="form_input"><input type="text" name="title" value="<%= @memo['title'] %>"></div>
  <span>内容</span>
  <div class="form_textarea"><textarea name="content" rows="10"><%= @memo['content'] %></textarea></div>
  <input type="submit" value="変更する" class="button edit_button">
</form>
